@model WebGISQuangNam.Models.dataHelper.login
@{
    ViewBag.Title = "Cảm ơn";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}
<link href="~/Content/loginform.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h4 style="font-weight: 700;padding: 20px;">Viện Quy hoạch đô thị và nông thôn Quảng Nam</h4>
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">

            <div class="login-page">
                <div class="form">

                    <h5 style="padding:25px; font-weight:normal;">
                        Cảm ơn Ông/Bà đã đóng góp ý kiến, ý kiến của Ông/Bà sẽ được chuyển đến các bộ phận có lên quan để tiếp thu, xử lý.
                    </h5>

                </div>
            </div>

        </div>
    </div>
</div>
